body {
    margin: 0 auto;
    background-color: black;
    color: white;
}

#bunny{
    position: absolute;
    // display: none;
    width: 100px;
}
#bunny:hover{
    cursor: crosshair;
}
.button{
    color: white;
    padding: 10px;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Nosifer', cursive;
}
.button:hover{
    text-decoration: underline;
    cursor: pointer;
}

#menu{
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: 'Nosifer', cursive;
}
#content{
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
#content:hover{
    cursor: crosshair;
}
#punkty{
    font-size: 20px;
}
#ilepkt{
    display: inline-block;
}
#poziom{
    display: inline-block;
}